/*Clase : estilo.css
//Creado el : 2-06-2020
//Creado por: grvidal
//Declara el estilo que se le da a las vistas html, estan formularios, divisiones, tablas...
//-------------------------------------------------------*/


.btn{
  margin-top: 20px;
}

.ofrecerInterStyle {
  position: absolute;
  right: 5px;
  margin-top: 10px;
  border: 3px solid #bbe9ff;
  padding: 10px;
}

.form-group{
  min-width: 10px;
}

.MainHeader{
  width: 100%;
}

.MainDiv{
  margin: -10px;
  background-color: white; 
}

.errormsg{
    color: #FF0000;
    visibility: hidden;
}

.tituloStyle{
  font-size: 150%; 
  text-decoration: underline;"
}


#btn-menu{
  display: none;
  margin:20px;
  font-size:27px;
}

.menuLateralMain{
  width: 100%;
  background: #4E94AB;
}

.menuLateralMain label{
  display: none;
  width: 30px;
  height: 30px;
  padding: 10px;
  border-right: 1 px solid #fff; 

  font-size: 25px;
}

.menuLateralMain label:hover{
  background: rgba(0,0,0,0.3) ;
  cursor: pointer;
}

.menuLateral ul {
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
}

.menuLateral li:hover{
  background: rgba(0,0,0,0.3); ;
}

.menuLateral li{
  flex-grow: 1;
  border-right: 1px solid #fff;
}

.menuLateral li a{
  display: block;
  padding: 15px 20px;
  color: #fff;
  text-decoration: none;

}

#btn-menu:checked ~ .menuLateral{
  margin: 0;
}

@media (max-width: 1000px) {
  .menuLateralMain label {display: block;}
  .menuLateral {
    position: absolute;
    background: #4E94AB;
    max-width: 70%;
    margin-left: -70%;
  }
  .menuLateral ul {  
    flex-direction: column;
  }

  .menuLateral li{
    border-top: 1px solid #fff; 
  }
}

form{
    padding-left: 10px;
}

header{
    padding-left:10px;
}

header span{
    align: right;
}

header i{
    font-size: 200%;
    margin-top: -30px;
}

footer{
    border-top: black 1px solid;
    padding-left:10px;
    background-color: white;
    height: 100%;
    margin: -10px;

}

nav{
    margin-bottom: 10px;

}


table{
    word-wrap:break-word;
    word-break: break-all;
    table-layout: fixed;
    border-style: solid black;
    border-width:3px;
}
td,tr{

    border-spacing:5px;
    padding: 7px; 
}

article{
  margin-left: 200px;
}

body{
  background-color: #bbe9fb;
}
